body {
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Open Sans',
    sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.card {
  background-color: var(--crud-blue);
  color: var(--crud-fc);
  width: 500px;
  height: 450px;
  text-align: center;

  border-radius: 20px;
  margin-top: 50px;
}
.title {
  color: #00042c;
  font-size: 22px;

  padding-top: 40px;
  padding-bottom: 20px;
}
input {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  border-style: none;
  border-radius: 5px;
  width: 85%;
  height: 28px;
}
.input_title {
  padding-left: 40px;
  padding-bottom: 3px;

  text-align: left;
  font-size: 15px;
}
.btn {
  border-radius: 15px;
  color: white;
  font-weight: bold;

  width: 160px;
  height: 30px;
  border-style: none;
}
.btn2 {
  margin-top: 20px;
}
.cancel {
  margin-left: 20px;
  background-color: #740000;
}
.submit {
  background-color: #00042c;
}
