body {
  display: flex;
  flex-direction: column;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Open Sans',
    sans-serif;
  color: #86a5b1;
  background-color: #2f3241;
}

* {
  padding: 0;
  margin: 0;
}
.button {
  background-color: #f2f2f2; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 5px #888787;

  width: 150px;
  margin: 20px 20px 20px 0px;
  /* top right bottom left */
}

.column1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.column2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  padding-top: 10px;
}

.card {
  margin-top: 10px;
  background-color: #f2f2f2;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  padding: 2px 16px;
  padding-left: 0px;
}
.card-capsule {
  background-color: var(--missed);
  width: 5px;
  border-radius: 5px;
  padding: 0px 10px 5px 0px;
  /* top right bottom left */
  height: 59px;
  margin-top: -2px;
}
.info {
  font-size: 17px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  text-align: left;

  color: black;
}
.c-name {
  padding-left: 10px;
}
.p-loc {
  padding-left: 10px;
}
.doc-no {
  padding-left: 5px;
}
.date-sub {
  padding-left: 35px;
}
.title {
  font-size: 15px;
  padding-right: 20px;
  padding-left: 10px;
  font-weight: bold;
}

.title1 {
  padding-left: 25px;
}
.t-status {
  margin-left: -10px !important;
}
.mrd {
  font-size: 14px;
  background-color: var(--mrd-blue);
  width: 150px;
  border-radius: 35px;
  padding: 4px 2px 1px 0px;
  /* top right bottom left */
  height: 25px;
  margin: 1px 0px 0px 0px;

  text-align: center;
}
.status {
  font-size: 14px;
  background-color: var(--missed);
  width: 80px;
  border-radius: 35px;
  padding: 3px 2px 2px 0px;
  /* top right bottom left */
  height: 20px;
  margin: 2px 0px 0px 30px;

  text-align: center;
}
.status-missed {
  background-color: var(--missed);
}

.status-ongoing {
  background-color: var(--on-going);
}

.status-upcoming {
  background-color: var(--upcoming);
}

.status-complete {
  background-color: var(--complete);
}

.status-on-hold {
  background-color: var(--on-hold);
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 840px;
  margin: 0 auto;
  padding: 15px 30px 0 30px;
}

@media (max-width: 840px) {
}

@media (max-width: 660px) {
}

@media (max-width: 480px) {
}
