body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-image: url('../assets/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 1;
  z-index: -1;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  padding: 50px;
  background-color: #c2d2e4;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  width: fit-content;
  text-align: left;
}

h2 {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  width: 420px;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.verify-button,
.cancel-button {
  background-color: #00042c;
  color: #ffffff;
  width: 150px;
  padding: 10px;
  flex: 1;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 4px;
}

.cancel-button {
  background-color: #740000;
}

/* Media query for responsiveness */
@media only screen and (max-width: 720px) {
  .card {
    width: 90%; /* Adjust card width for smaller screens */
  }

  .verify-button,
  .cancel-button {
    width: 100%; /* Make buttons full width on smaller screens */
    margin: 8px 0; /* Add margin to separate buttons */
  }
}
