.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #00042C;
    color: white;
  }
  
  .navbar-logo img {
    height: 50px;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-links a {
    color: white;
    margin-right: 5rem;
    text-decoration: none;
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    .navbar {
        padding: 0;
    }
    .navbar-logo img {
        height: 20px;
    }
  
    .navbar-links a {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }
