* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Open Sans',
    sans-serif;
  color: #86a5b1;
  background-color: #2f3241;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #00042c;
  color: white;
}

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  display: flex;
}

.navbar-links a {
  color: white;
  margin-right: 5rem;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.navbar-links a:hover {
  border-bottom: 1px solid;
}
